#title {
    background-color: #ff4c68;
}

body {
    font-family: "Montserrat" sans-serif;
}

.container-fluid {
    padding: 3% 15% 7%;
    overflow: hidden;
}

h1 {
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}

h2{
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
    font-size: 3rem;
}

h3 {
    font-family: "Montserrat" sans-serif;
    font-weight: 900;
}

/* --------------Navigation Bar--------------- */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
}

.nav-link {
    font-size: 1.3rem;
}

/* --------------Navigation Bar--------------- */

/* --------------Title--------------- */

.fa-brands {
    padding-right: 0.6rem;
}

#title .download-btn {
    margin: 5% 3% 5% 0;
}

.phone-img{
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

/* --------------Title--------------- */

/* --------------Features--------------- */

#features {
    padding: 7% 15%;
    background-color: #fff;
    z-index: 1;
    position: relative;
}

.feature-box {
    padding: 5%;
}

#features .fa-solid {
    font-size: 5rem;
    color: #ef8172;
    padding-bottom: 3%;
}

#features .fa-solid:hover{
    color: #ff4c68;
}

#features h3 {
    font-weight: 900;
    font-size: 1.5rem;
    line-height: 1.5;
}

#features p {
    color: #8f8f8f;
}

/* --------------Features--------------- */

/* --------------Testimonials--------------- */

#testimonials {
    text-align: center;
    background-color: #ef8172;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials .testimonial-text{
    font-weight: 900;
    font-size: 3rem;
    color: #fff;
    line-height: 1.5;
}

#testimonials em {
    color: #fff;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

#press img {
    margin: 20px 20px 50px;
    width: 15%;
}


/* --------------Testimonials--------------- */

/* --------------Pricing--------------- */

#pricing {
    padding: 100px;
    text-align: center;
}

#pricing p {
    color: #8f8f8f;
}

.pricing-column {
    padding: 3% 2%;
}


/* --------------Pricing--------------- */

/* --------------Call To Action--------------- */

#cta {
    padding: 7% 15%;
    background-color: #ff4c68;
    text-align: center;
}

#cta .buttons{
    padding: 0 7%;
}

#cta .buttons button {
    margin: 5% 2%;
}

#cta h3 {
    font-size: 3.5rem;
    color: #fff;
    padding: 0 7%;
    line-height: 1.5;
}

/* --------------Call To Action--------------- */


/* --------------Footer--------------- */

#footer {
    text-align: center;
    padding: 2% 0;
    background-color: #fff;
}

#footer p {
    color: #8f8f8f;
}
.brands {
    padding: 20px 0;
}
.brands i {
    padding: 0 15px;
    text-align: center;
}

/* --------------Footer--------------- */

/* --------------Media Queries--------------- */

@media (max-width: 1300px){
    #title {
        text-align: center;
    }

    .phone-img {
        position: static;
        transform: rotate(0deg);
    }
}

@media (max-width: 575px){
    .phone-img {
        width: 60%;
    }

    .testimonial-text {
        font-size: 2rem!important;
    }

    .testimonial-image {
        width: 20%;
    }
}

@media (max-width: 480px){
    
    #title h1 {
        font-size: 2.8rem!important;
    }

    #pricing h2 {
        font-size: 2.5rem!important;
    }

    #cta h3 {
        font-size: 2.8rem!important;
    }
}



/* --------------Media Queries--------------- */